.hr {
    width: 800px;
    height: 1px;
    border: 1px solid #000000;
}

.subcategory {
    display: flex;
    flex-direction: row;
}

.button {
    cursor: pointer;
    color: white;
    background-color: green;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    margin-top: -11px;
}

.input {
    width: 135px;
    height: 32px;
    border-radius: 5px;
    background: #383A45;
    color: white;
    
}